<footer id="homepage_footer">

	<a href="">
		<div>
			<i class="footer_main footer_icons fas fa-anchor"></i>
		</div>
		<div class="footer_main footer_text">Explore</div>
	</a>

	<a href="">
		<div>
			<i class="footer_icons far fa-heart"></i>
		</div>
		<div class="footer_text">Saved</div>
	</a>

	<a href="/host/boats">
		<div>
			<i class="footer_icons fas fa-ship"></i>
		</div>
		<div class="footer_text">Add boat</div>
	</a>

	<a href="">
		<div>
			<i class="footer_icons fas fa-globe-americas"></i>
		</div>
		<div class="footer_text">Add activity</div>
	</a>

	<a href="">
		<div>
			<i class="footer_icons fas fa-user-circle"></i>
		</div>
		<div class="footer_text">Log in</div>
	</a>
	
</footer>