<!-- HEADER -->

<div id="header">
	<div class="header_img"><%= image_tag "harbor1.jpg" %></div>
	<div class="header_nav">
		<i id="header_nav_main_icon" class="fas fa-anchor"></i>
		<i class="fas fa-sort-down"></i>
	</div>
	<h1>Earn money as a Boatnb host</h1>
</div>

<!-- PLACE INFORMATION -->

<div id="place_information">
	<h1>Tell us a bit about your place</h1>

	<%= form_tag "/boats", method: "post" do %>
		<input class="button_style" type="text" name="location" placeholder="Monaco" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Monaco'">
		<select class="button_style" name="boat_space">
			<option value="Entire boat">Entire boat</option>
			<option value="Shared boat">Shared boat</option>
		</select>
		<select class="button_style" name="guests">
			<option value="1">1 guest</option>
			<option value="2">2 guests</option>
			<option value="3">3 guests</option>
			<option value="4">4 guests</option>
			<option value="5">5 guests</option>
			<option value="6">6 guests</option>
		</select>

		<input class="button" type="submit" value="Get started">
	<% end %>

</div>

<!-- MORE INFO -->

<div id="more_info">
	
	<div class="info_container">
		<h1>Why host on Boatnb?</h1>
		<p>No matter what kind of home or room you have to share, Airbnb makes it simple and secure to host travelers. You’re in full control of your availability, prices, house rules, and how you interact with guests.</p>
	</div>

	<div class="info_container">
		<h1>We got your back</h1>
		<p>To keep you, your home, and your belongings safe, we cover every booking with $1M USD in property damage protection and another $1M USD in insurance against accidents.

</p>
	</div>

</div>