header {
	background-color: #f4f4f4;
}

header i {
	font-size: 30px;
	padding: 10px 19px;
	color: #008489
}

#boat_listing {
	color: #484848;
	padding: 30px;
}

::placeholder {
	font-weight: 300!important;
}


#boat_listing h1 {
	padding: 0 0 20px 0;
}

#boat_listing select {
	color: #484848;
}

.button_style {
	width: 100%;
	border: 1px solid rgba(200,200,200,0.6);
	border-radius: 2px;
	height: 34px;
	margin-bottom: 8px;
}

.finish_button {
	background-color: #008489!important;
	font-weight: 300!important;
	width: 92px!important;
	height: 36px!important;
	margin-top: 3px!important;
}

#boat_image_container {
	padding: 20px 0 20px 0;
}

#boat_image_container input {
	margin-top: 20px;
}




























